
#bubbleNumpadButton {
	color: rgb(63, 55, 55);
    font-size: 20px;
}

#bubbleNumpadButton:hover {
	color: #FFF;
	background: rgb(63, 55, 55);
}

#bubbleNumpadButton:active {
	color: #FFF;
	background: rgb(233, 11, 11);;	
}
